<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Alttaf Hussain</h1>
    <p class="lead">Video Monitor Dashboard written in node.js/express and angular</p>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Live Dashboard Feed:</h1>
	 <!--  <table class="table table-striped">
	  <tr>
		<th>IP address </th>
		<th>Time Initiated </th>
		<th>Video ID</th>
		<th>Video Action </th>
		<th>Video Action time </th>
	  </tr>
	  <tr ng-repeat="result in videoResults">
		<td>{{result.time | date:'medium'}}  </td>
		<td>{{result.videoId}} </td>
		<td>{{result.action}}  </td>
		<td>{{result.videoTime}}  </td>
	  </tr>
	  </table> -->
	  <div ng-repeat="result in videoResults" class="panel panel-default">
	  <div class="panel-heading"><h1>Ip address: {{result.ip}}</h1></div>
	  <div class="panel-body">
	   <table class="table">
		<tr>
			<th>Time Initiated </th>
			<th>Video ID</th>
			<th>Video Action </th>
			<th>Video Action time </th>
			<th>Session ID </th>
		</tr>
		  <tr ng-repeat="transaction in result.transaction">
			<td>{{transaction.time | date:'medium'}}  </td>
			<td>{{transaction.videoId}} </td>
			<td>{{transaction.action}}  </td>
			<td>{{transaction.videoTime}}  </td>
			<td>{{result._id}}  </td>
		  </tr>
		</table>
	  </div>
	  </div>
	  
    </div>
  </div>


</div>

<footer class="footer">
  <div class="container">
      <p>Alttaf Hussain using Angular Fullstack v2.0.13 |
        <a href="https://twitter.com/alttafhussain">@AlttafHussain</a>
	  </p>
  </div>
</footer>
